body{
    width: 100%;
    font-family: 'Questrial', sans-serif;
}

div{
    padding: 2%;
}

nav{
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    padding: 2%;
}
nav ul{
    display: flex;
    justify-content: center;
}

nav li{
    list-style: none;
    padding-right: 5%;
   
}

a{
    text-decoration: none;
    color: black;
}
.title{
    text-align: center;
    font-size: 6vw;
    color: #424C55;
    margin: 0px;
}
span{
    color: #2EC4B6;
}
.parent{
    display: flex;
    justify-content: space-around;
}

img{
width:100%;
}

#img2 img{
    vertical-align: middle;
    
}

#img2{
    padding-top:70px;
}

span{
    padding: 10px;

}

.footer {
    text-align: center;
    
}


/*
.break{
    padding-left:20%
}
*/

/*
.b2{
    padding-left: 3%;
}

.b3{
    padding-left: 3%;
}
*/

.footer{
    background-color: crimson;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    
}

h3  a{
    color: #2EC4B6;
    
}

img{
    margin-bottom: 8px;
}


.head{
    text-align: center;
}

#img2 img{
    padding-bottom: 50px;
}

#img3 img{
    padding-bottom: 5px;
}
.head span{
    padding:0;
}

div h3{
  margin: 0px;  
}

.nav a:hover{
    color: red;
    font-size: 20.8px;
}

.footer{
    font-size: 20px;
}

.footer a:hover{
    color:gray;
    
}

div h3 a:hover{
    font-size:20.8px;
}


.footer a{
    margin: 20px;
}

#img2 img{
    margin-bottom: 67px;
    margin-top: 20%;
    
}

#img3 img{
    margin-bottom: 20px;
    margin-top: 10px

}
